@font-face {
  font-family: "Graphik";
  font-weight: 400;
  src: url(../fonts/Graphik-Regular.woff);
  src: url(../fonts/Graphik-Regular.woff2);
  src: url(../fonts/Graphik-Regular.ttf);
}
@font-face {
  font-family: "Graphik SemiBold";
  font-weight: 600;
  src: url(../fonts/Graphik-Semibold.woff);
  src: url(../fonts/Graphik-Semibold.woff2);
  src: url(../fonts/Graphik-Semibold.ttf);
}
